#
# IMPORTANT: The requirements that actually count are in setup.cfg. This file is here for convenience so you can
#            quickly install both build- and test-requirements from within your development environment. DO MAKE
#            SURE to update setup.cfg whenever you make changes here.

# Build/Test requirements

setuptools>=42.0.0
build>=0.9.0             # MIT
wheel>=0.36.0            # MIT
pylint~=2.15.5           # MIT
pytest~=7.2.0            # GPL-2.0-or-later
pytest-cov~=4.0.0        # MIT

# Runtime requirements

rich~=12.6.0                    # MIT
Flask~=2.2.2                    # BSD 3-Clause
Flask-SQLAlchemy~=3.0.2         # BSD 3-Clause
Flask-Migrate~=4.0.0            # MIT
flask-smorest~=0.40.0           # MIT
Flask-Marshmallow~=0.14.0       # MIT
marshmallow-sqlalchemy~=0.28.1  # MIT
psycopg2-binary~=2.9.5          # LGPL with exceptions
Flask-OIDC~=1.4.0               # MIT

# Do we need these?
#requests_oauthlib~=1.3.1        # ISC
itsdangerous<=2.0.1             # BSD 3-Clause      Must affix so JSONWebSignatureSerializer is known
