#
# IMPORTANT: The requirements that actually count are in setup.cfg. This file is here for convenience so you can
#            quickly install both build- and test-requirements from within your development environment. DO MAKE
#            SURE to update setup.cfg whenever you make changes here.

# Build/Test requirements

setuptools>=42.0.0
build>=0.10.0            # MIT
wheel>=0.38.4            # MIT
pylint~=2.15.10          # MIT
pytest~=7.2.1            # GPL-2.0-or-later
pytest-cov~=4.0.0        # MIT
pyjwt~=2.6.0             # MIT
python-keycloak~=2.6.1   # MIT

# Runtime requirements

Flask~=2.2.3                    # BSD 3-Clause
Flask-SQLAlchemy~=3.0.3         # BSD 3-Clause
Flask-Migrate~=4.0.4            # MIT
flask-smorest~=0.40.0           # MIT
Flask-Marshmallow~=0.14.0       # MIT
marshmallow-sqlalchemy~=0.28.1  # MIT
psycopg2-binary~=2.9.5          # LGPL with exceptions
Flask-OIDC~=1.4.0               # MIT
itsdangerous<=2.0.1             # BSD 3-Clause      Must affix so JSONWebSignatureSerializer is known
